@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }

  .btn {
    @apply flex justify-center items-center;
    @apply gap-2 rounded-md px-6 py-2;
    @apply text-sm font-semibold;
    @apply bg-primary1 text-white;
    @apply transition-all ease-in-out duration-500;
  }
  .btn:hover {
    @apply brightness-125;
  }
  .btn-outlined {
    @apply bg-white text-darkTheme border-2 border-primary1;
  }
  .btn-outlined:hover {
    @apply text-primary1;
  }
  .btn-disabled {
    @apply opacity-50 cursor-default;
  }
}

:root {
  --color-primary-1: #024476;
  --color-primary-2: #4070A0;
  --color-secondary-1: #4B83C2;
  --color-secondary-2: #6FA6C5;
  --color-offWhite: #f3f3f3;
  --color-grayTheme: #9A9A98;
  --color-darkTheme: #363636;
  --color-darkBg: #171717;

  --color-success: #009b4e;
  --color-warning: #f09924;
  --color-error: #ff0000;
  
  --color-bg-header: var(--color-offWhite);
  --color-text-header: var(--color-darkTheme);
  --color-bg-footer: var(--color-darkTheme);
  --color-text-footer: var(--color-offWhite);
  --color-bg-button: var(--color-primary-1);
  --color-text-button: var(--color-offWhite);

  --height-header: 90px;
}